.root {
    background-color: #000000;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
  
@media (max-width: 1180px) {
    .root {
        margin-left: 170px;
        margin-right: 170px;
    }
}

@media (max-width: 1080px) {
    .root {
        margin-left: 130px;
        margin-right: 130px;
    }
}

@media (max-width: 880px) {
    .root {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media (max-width: 768px) {
    .root {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 420px) {
    .root {
        margin: 0;
    }
}