.lead__button {
    display: flex;
    width: 150px;
    height: 50px;
    outline: solid white 1px;
    background-color: transparent;
    background-image: url(../../../images/add-plus-svgrepo-com.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}
  
@media (max-width: 1080px) {
    .lead__button {
        width: 282px;
    }
}