.popup__submit_inactive {
    opacity: 0.2;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
  }
  
  .popup__submit_inactive:hover {
    opacity: 0.2;
    cursor: not-allowed;
  }